{% extends "base.html" %}
{% block head %}
    <title>勤怠登録</title>
    <link href="../public/kintai.css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="kintai-container">
        <div class="header">
            <div class="title">勤怠登録画面</div>
        </div>
        <div class="label">
            <label for="date">出勤年月日</label>
        </div>
        <div class="item">
            <input type="date" id="date" class="w-25" name="date" />
        </div>
        <div class="label">
            <label for="start">始業時間</label>
        </div>
        <div class="item">
            <input type="time" id="start" class="w-25" name="start" />
        </div>
        <div class="label">
            <label for="end">終業時間</label>
        </div>
        <div class="item">
            <input type="time" id="end" class="w-25" name="end" />
        </div>
        <div class="label">
            <label for="break">休憩時間</label>
        </div>
        <div class="item">
            <input type="time" id="break" class="w-25" name="break" />
        </div>
        <div class="label">
            <label for="remark">備考</label>
        </div>
        <div class="item">
            <textarea id="remark" class="w-100" name="remark" rows="10" maxlength="256"></textarea>
        </div>
        <div class="footer">
            <input type="submit" id="search" value="登録" />
        </div>
        <div class="footer">
            <a href="/kintai/search">勤怠照会画面へ遷移</a>
        </div>
    </div>
{% endblock %}
